*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
*::selection{
    color:white;
    background-color: black;
}
html,body{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    overflow-x: hidden;
}
#nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

#nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links {
    padding: 10px;
}

#nav-part1 {
    /* background-color: RED; */
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg {
    display: block;
}

#nav-part2 #links a {
    text-transform: uppercase;

    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}

#icons {
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav-part2 #icons i {
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}


#page1{
    width: 100%;
    min-height: 100vh;
    position:relative;
    padding:0 1vw;
    padding-top: 10vw;
}
#page1 h1{
    font-size: 17vw;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 14vw;
}
#image-container{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    margin-top: 7vw;
}
#image-container img{
    width:100% ;
    height: 100%;
    object-fit: cover;
}
#sweet-memories h2{
    margin-top: 5vw;
    text-align: center;
    font-size: 4vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#sweet-memories p{
    /* background-color: blue; */
      font-family:'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 20px;

margin-top: 1vw;
    
}
#page2,#page4{
    width: 100%;
    min-height: 100vh;
    /* background-color: aqua; */
    /* margin:0 0.5vw; */
     padding:0 1vw;
    margin-top: 5vw;
    position:relative;
}
#page2 #text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  font-size: 1vw;
    font-family:'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    padding-top: 0.5vw;
    padding: 0 2.5vw;
}
#menu-container{
    /* padding:1vw; */
    /* background-color: rgb(65, 70, 70); */
     width: 100%;
    height: 100vh;
    display:flex;
     /* flex-wrap: wrap;  */
    justify-content:space-around;
    margin-top: 1vw;
    gap: 1vw;
 
}
.image-container2 {
    overflow: hidden;
    position: relative;
}
.image-container2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale:1.5;
    display: flex;
    align-items: center;
    justify-content: center;

}
#page2 .dets{
    width: 80%;
    height: 60px;
    background-color: #DCC0B4;
    position: absolute;
    z-index:9;
    top: 50%;
    left: 10%;
    /* transform: translate(-50%,-50%); */
    border-radius: 50px;
}
#page2 .dets:hover{
    /* width: 80%; */
    height: 200px;

}
#page2 #section3{
    display:flex;
    /* flex-wrap: wrap;  */
    /* background-color: aqua; */
    width: 100%;
    height: 50vh;
    margin-top: 3vw;
}
#section3 #left{
width: 100%;
/* background-color: red; */
font-size: 5vw;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 0 1vw;
}
#section3 #right{
width: 100%;
/* background-color: rgb(0, 225, 255); */
display:flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 3vw 2vw;
font-size: 1.5vw;
font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
}
#page3{
     width: 100%;
    min-height: 100vh;
    /* background-color: aqua; */
    margin:0 0.5vw;
     padding:0 1vw;
    margin-top: 5vw;
}
#page3 div{
    display: flex;
}
.image-container3{
    display:flex;
    /* background-color: aqua; */
    width: 100%;
    height: 100vh;
    margin-top: 3vw;
}
.image-container3 .box{
    width: 100%;
/* background-color: red; */
flex-direction: column;
/* font-size: 5vw; */
/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
/* padding: 1vw; */
margin-left: 1vw;
margin-top:1vw;
padding:0 2vw;
position:relative;
cursor: pointer;
}
.box img{
    width: 100%;
    height: 95%;
    object-fit:contain;
    /* background-color: blue; */
    position:relative
}
.box h3,p{
    text-align: center;
    margin-top:0.5vw;
    position:relative;
}
.whitecircle{
width: 400px;
height: 400px;
background-color: rgb(231, 225, 225);
z-index:0;
position: absolute;
border-radius: 50%;
top: 0%;
left: 0%;
transform: translate(-50%, -50%);
opacity: 0;
scale:0
}
#Impact{
    width:30%;
}
#Impact h2{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2vw;
}
#Impact div{
    margin-top:2vw
}
#Impact p{
    width: 75%;
    font-size: 1vw;
      font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
      text-align: start;
      margin:3.5vw 0;
}
#footer{
    /* padding:1vw; */
    /* background-color: rgb(65, 70, 70); */
     width: 100%;
    height: 100vh;
    display:flex;
     /* flex-wrap: wrap;  */
    justify-content:space-around;
    margin-top: 1vw;
 
}
.footer-img {
    overflow: hidden;
}
.footer-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale:1.5

}

@media (max-width:1000px) {
  #icons {
   display: flex;
}
#nav-part2 #links{
    opacity: 0;
    display: none;
}
#page1 h1{
    font-size: 20vw;
    text-transform: uppercase;
 
    line-height: 18vw;
}
#image-container{
    width: 100%;
    height: 70vh;
    /* background-color: aqua; */
    margin-top: 7vw;
}
#sweet-memories h2{
    margin-top: 5vw;
    text-align: center;
    font-size: 7vw;

}
#sweet-memories p{
font-size: 25px;
margin-top: 6vw;
    
}
#page2 #text{
    font-size: 20px;

}
#page2 .dets{
    
      width: 50%;
    height: 50px;
    background-color: #DCC0B4;
    position: absolute;
    z-index:9;
    top: 50%;
    left: 30%;
    /* transform: translate(-50%,-50%); */
    border-radius: 50px;
}
#menu-container {
    flex-direction: column;
    align-items: center;
     gap: 2rem; 
     height: auto; 
    flex-wrap: wrap;
  }
   #section3 {
    flex-direction: column; /* stack vertically */
    align-items: flex-start;
  }

  #section3 #left,
  #section3 #right {
    width: 100%;
    text-align: left;
  }

  #section3 #left {
    font-size: 8vw;
  }

  #section3 #right {
    font-size: 3.5vw;
    padding: 4vw 2vw;
  }
  #responsive-container{
    flex-direction: column-reverse;
    flex-wrap:nowrap;
    background-color: red;
    font-size: 20vw;
  }
.image-container3{
   
    height: 60vh;
    
}
  .box img{
    height: 55%;
}

#footer{
    flex-direction:column-reverse;
    align-items: center;
     gap: 2rem; 
     height: auto; 
    flex-wrap: wrap;
  }
  #Impact{
    width:100%;
}
#Impact h2{
    font-size: 5vw;
}
#Impact p{
    font-size: 2vw;

}
}
